html, body {
height: 100%;
}

body {
margin: 0;
display: flex;
background-color: rgb(63, 68, 68);

/* This centers our sketch horizontally. */
justify-content: center;

/* This centers our sketch vertically. */
align-items: center;
}

canvas {
    transform: scale(4);
}
